.anchor {
  > i {
    opacity: 0;

    &:first-child {
      padding-right: 0.2em;
    }

    &:last-child {
      padding-left: 0.2em;
    }
  }

  &:hover {
    text-decoration: none;

    i {
      opacity: 1;
    }
  }
}
