@import '../variables';

.toast {
  margin: 20px;
  word-wrap: break-word;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d3d3d3'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
  }
}

$toast-background-color: $c-base-light;
$toast-header-background-color: $c-base-lighter;
$toast-header-color: $c-secondary;
$toast-color: $c-secondary-darker;

$toast-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 30%);
$toast-header-border-color: $c-base-lighter;
