img {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &.img-thumbnail::before {
    border-radius: 4px;
  }

  &.img-rounded::before {
    border-radius: 6px;
  }

  &.img-circle::before {
    border-radius: 50%;
  }

  &::after {
    content: attr(alt);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
}
