$mask-image: linear-gradient(90deg, transparent 30%, rgba(0, 0, 0, 0.385) 70%, transparent 95%);
$mask-size: 200% 100%;
$mask-repeat: no-repeat;
$mask-position-start: 200% 0%;
$mask-position-end: -200% 0%;

@keyframes wave {
  0% {
    mask-position: $mask-position-start;
    -webkit-mask-position: $mask-position-start;
  }
  100% {
    mask-position: $mask-position-end;
    -webkit-mask-position: $mask-position-end;
  }
}

@keyframes glow {
  50% {
    opacity: var(--min-opacity);
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  cursor: wait;
  overflow: hidden;

  &.bg-default {
    background-color: currentColor;
  }

  &-glow {
    animation: glow var(--animation-duration) ease-in-out infinite;
  }

  > .wave {
    height: 100%;
    background-color: #eee;
    animation: wave var(--animation-duration) linear infinite;
    mask-image: $mask-image;
    -webkit-mask-image: $mask-image;
    mask-size: $mask-size;
    -webkit-mask-size: $mask-size;
    mask-repeat: $mask-repeat;
    -webkit-mask-repeat: $mask-repeat;
  }
}
