{
  "parser": "@typescript-eslint/parser",
  "files": ["*.ts", "*.tsx"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "jsx-a11y",
    "jsdoc",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended"
  ]
}
