{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:storybook/recommended"
  ],
  "overrides": [
    {
      "files": ["*.test.tsx"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/all"],
      "rules": {
        "jest/prefer-expect-assertions": 0,
        "jest/no-hooks": 0
      }
    },
    {
      "files": ["*.stories.tsx"],
      "rules": {
        "jsdoc/require-jsdoc": 0
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      1,
      { "argsIgnorePattern": "^_" }
    ],
    "react/display-name": 1,
    "react/jsx-first-prop-new-line": [
      "warn",
      "multiline"
    ],
    "jsx-a11y/anchor-is-valid": 0,
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns-type": 0,
    "jsdoc/require-file-overview": 1,
    "jsdoc/check-syntax": 1,
    "jsdoc/check-indentation": 1,
    "jsdoc/require-jsdoc": [
      "warn",
      {
        "publicOnly": true,
        "contexts": [
          "TSInterfaceDeclaration",
          "TSTypeAliasDeclaration",
          "TSEnumDeclaration"
        ],
        "require": {
          "FunctionExpression": true,
          "ClassDeclaration": true,
          "MethodDefinition": true,
          "ArrowFunctionExpression": true,
          "ClassExpression": true
        }
      }
    ],
    "jsdoc/require-description-complete-sentence": 1,
    "import/newline-after-import": 1,
    "import/no-named-as-default": 0,
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["sibling", "parent", "index"],
          ["object", "type"]
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "./*.scss",
            "group": "type",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "never",
        "warnOnUnassignedImports": true
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
