node_modules
build
coverage

# local env files
.env*.local

# misc
.DS_Store
*.pem
.swc

# debug
npm-debug.log*

# editors
.idea
.vscode/*
!.vscode/settings.json

# storybook
storybook-static

# dist
dist
