{
  "printWidth": 100,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "**/*.scss",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
