@import '../variables';

$accordion-border-color: $c-base-light;
$accordion-button-active-color: $c-secondary;
$accordion-button-active-bg: $c-base-lighter;

$accordion-icon-color: $c-secondary-darker;
$accordion-icon-active-color: $c-secondary;
