@import '../variables';

.breadcrumbsBrand {
  --bs-link-color: $c-secondary;
  --bs-link-hover-color: $c-secondary;

  --bs-breadcrumb-item-padding-x: 1.5rem !important;
  --bs-breadcrumb-padding-x: 1.5rem !important;
  --bs-breadcrumb-divider-color: $c-secondary !important;

  > .breadcrumb-item {
    position: relative;

    > a {
      z-index: 2;
      position: relative;
      font-size: 1.2rem;
      font-weight: 400;
      color: $c-secondary;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      transition: opacity 0.15s ease-in-out;
      content: '';
      width: calc(100% - 3rem - 2px);
      height: 100%;
      padding: 10px;
      background-color: $c-primary;
      opacity: 0;
    }

    &:first-child {
      &::after {
        width: 100%;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
