@import '../variables';

$dropdown-bg: $c-base-lighter;
$dropdown-link-color: $c-secondary-darker;
$dropdown-link-hover-color: $c-secondary-darker;
$dropdown-link-hover-bg: $c-base-light;
$dropdown-divider-bg: $c-base-light;
