.floating-label {
  position: relative;
  padding-top: 1rem;

  > label {
    position: absolute;
    left: 0.75em;
    top: calc(50% - 0.5rem);
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
    transform-origin: top left;
    z-index: 3;
    pointer-events: none;
    color: #737373;
    font-weight: normal;
  }

  &:focus-within > label,
  &-active > label {
    top: -0.75rem;
    transform: scale(0.75);
    pointer-events: auto;
  }
}
