@import '../variables';

$list-group-bg: $c-base;
$list-group-color: $c-secondary-darker;

$list-group-hover-bg: $c-base-light;
$list-group-action-active-bg: $c-base-light;
$list-group-active-border-color: none;

$list-group-border-color: none;
$list-group-border-width: 0;

$list-group-disabled-color: $disabledColor;
$list-group-disabled-bg: $c-base-lighter;

$list-group-action-color: $c-secondary;

.list-group-item {
  border-radius: inherit;

  &:hover {
    color: $c-secondary;
  }

  + .list-group-item {
    margin-top: 0.5rem;
  }
}
