@import '../variables';

$nav-tabs-border-color: $c-base-light;
$nav-tabs-link-hover-border-color: $c-base-light;
$nav-tabs-link-active-color: $c-secondary-darker;
$nav-tabs-link-active-bg: $c-base-lighter;
$nav-tabs-link-active-border-color: $c-base-light;
