@import '../variables';

.toast {
  margin: 20px;
  word-wrap: break-word;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  > .toast-header > .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
}

$toast-background-color: $c-base-light;
$toast-header-background-color: $c-base-lighter;
$toast-header-color: $c-secondary;
$toast-color: $c-secondary-darker;

$toast-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 30%);
$toast-header-border-color: $c-base-lighter;
