.slide-appear {
  opacity: 0;
  transform: translateX(-500px) scale(0.6);
}

.slide-appear-done {
  opacity: 1;
  transition: all 400ms;
  transform: translateX(0) scale(1);
}

.slide-enter {
  opacity: 0;
  transform: translateX(-500px) scale(0.3);
}

.slide-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0) scale(1);
}

.slide-exit {
  opacity: 1;
}

.slide-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
  transform: translateX(500px) scale(0.3);
}
