// Color scheme.

$c-base-darker: #151515;
$c-base: #222;
$c-base-lighter: #292929;
$c-base-light: #3C3C3C;
$c-primary: #776475;
$c-success: #198754;
$c-warning: #d58622;
$c-danger: #dc3545;
$c-info:#2677f0;
$c-secondary-darker: #d3d3d3;
$c-secondary: #F5F2F1;
