.label-rounded {
  border-radius: 10px;
}

.label-block {
  display: block;
}

.label-closable {
  display: inline-flex;
  align-items: center;

  > button.close {
    margin-left: 6px;
  }

  &.label-block {
    width: 100%;
  }
}
