.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  &__body {
    flex-grow: 1;
  }

  &__header {
    &-sticky {
      position: sticky;
      top: 0;
      z-index: 4;
    }
  }
}
