.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 500ms ease;
}


.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.slide-appear {
  opacity: 0;
  transform: translateX(-500px) scale(0.6);
}

.slide-appear-done {
  opacity: 1;
  transition: all 400ms;
  transform: translateX(0) scale(1);
}

.slide-enter {
  opacity: 0;
  transform: translateX(-500px) scale(0.3);
}

.slide-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0) scale(1);
}

.slide-exit {
  opacity: 1;
}

.slide-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
  transform: translateX(500px) scale(0.3);
}
