@import '../../styles/mixins.scss';

.sidebar {
  height: 100%;
  display: flex;
  flex-grow: 0;
  flex-flow: column nowrap;

  @include responsive(xs) {
    width: 100vw;
  }

  @include responsive(sm) {
    width: 300px;
  }

  @include responsive(md) {
    width: 350px;
  }

  @include responsive(lg) {
    width: 400px;
  }
}
