# Copyright Yury Korotovskikh 2022 <u.korotovskiy@nil.foundation>

name: Test

on:
  # Triggers the workflow on pull request
  pull_request:
  # Allows to trigger workflow manually
  workflow_dispatch:
  # Allows to call from another workflow
  workflow_call:
    inputs:
      # Set when testing pre-release code to store build results
      package_version:
        required: false
        type: string

jobs:
  test:
    runs-on: [ubuntu-latest]
    name: Test
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Cache dependencies
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          CACHE_NAME: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-cache-
            ${{ runner.os }}-

      - name: Install dependencies
        run : npm ci --ignore-scripts

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build storybook
        run: npm run build-storybook

      - name: Build
        run: npm run build

        # Store build results if pre-release
      - name: Pack build results
        if: ${{ inputs.package_version }}
        run: npm pack

      - name: Upload workflow artifacts
        if: ${{ inputs.package_version }}
        uses: actions/upload-artifact@v3
        with:
          name: nilfoundation-react-components-${{ inputs.package_version }}
          path: nilfoundation-react-components-${{ inputs.package_version }}.tgz
          if-no-files-found: error
